<launch>
    <!-- rosserial_server -->
     <node pkg="rosserial_server" 
        type="socket_node" 
        name="rosserial_server_socket_node" 
        output="screen">
    </node>

    <!-- rosbridge_websocket -->
    <node pkg="rosbridge_server" 
        type="rosbridge_websocket" 
        name="rosbridge_websocket" 
        output="screen">
        <param name="param_websocket_port" value="9090" />
    </node>
    <!-- Run an Ubuntu command -->

   <node pkg="learn_controller"
        type="start_server.bash" name="start_server"
        output="screen"
    />
   <!-- ps3 node  -->

    <node pkg="joy" 
        type="joy_node" 
        name="joy_node" 
        output="screen">
    </node>
</launch>
